<!DOCTYPE html>
<html>
<head>

	<% include header %>
	<title>Gratisss.fr - <%= echantillon.title %></title>

    <link rel="stylesheet" href="/css/compiled/blogpost.css" type="text/css" media="screen" />

</head>
<body>

	<% include navBar %>

    <div id="blog_post">
        <div class="container">
            <div class="section_header">
                <h3>Echantillon Gratuit</h3>

                <input type="text" class="search-query form-control" placeholder="Search" />
            </div>

            <div class="row">
                <div class="col-sm-8">
                    <img class="post_pic img-responsive" src="<%= echantillon.urlImage %>" />

                    <div class="post_content">
                        <h2><%- echantillon.title %></h2>
                        <span class="date">bidon</span>
                        <p><%- echantillon.description %></p>
                        <div class="author_box">
                            <div class="area"><%= echantillon.category %></div>
                        </div>
						<a class="btn btn-primary" href="<%= echantillon.url %>" title="<%- echantillon.title %>">Je le veux</a>
                    </div>
                </div>
                <!-- SideBar -->
                <div class="col-sm-4">
                    <div class="sidebar">
                        <div class="box">
                            <div class="sidebar_header">
                                <h4>Information sur l'echantillon</h4>
                            </div>

                            <ul class="sidebar_menu">
                                <ul>
                                    <li>Insere le : <strong>bidon</strong></li>
                                    <li>Date d'expiration : <strong> </strong></li>
                                    <li>Autheur : <strong><%= echantillon.author %></strong></li>
                                    <li>Category : <strong><%= echantillon.category %></strong></li>
                                </ul>
                            </ul>
                        </div>
                        
                        <div class="box box2">
                            <div class="sidebar_header">
                                <h4>Echantillons recent :</h4>
                            </div>
							<% for(var i = 0; i < newEchantillons.length; i++){ %>
							<div class="recent">
                                <span>
                                    <a href="<%- "/echantillons-gratuits/"+ newEchantillons[i].title +"/"+newEchantillons[i]._id %>"><img src="<%= newEchantillons[i].urlImage %>" alt=""></a>
                                </span>
                                <p><%- newEchantillons[i].title %></p>
                            </div>
							<%}%>
                        </div>

                        <div class="box">
                            <div class="sidebar_header">
                                <h4>Echantillons populaires</h4>
                            </div>
                            <ul class="recent_photos">
								<%for(var i = 0; i < mostViewedEchantillons.length; i++){%>
                                <li>
                                    <a href="<%- "/echantillons-gratuits/"+ mostViewedEchantillons[i].title +"/"+mostViewedEchantillons[i]._id %>"><img src="<%= mostViewedEchantillons[i].urlImage %>"></a>
								</li>
								<%}%>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

	</div>
		<% include footer %>
</body>
</html>