    <!-- starts footer -->
    <footer id="footer">
        <div class="container">
            <div class="row sections">
                <div class="col-sm-4 recent_posts">
                    <h3 class="footer_header">
                        Posts recents
                    </h3>
                    
                    <%for(var i = 0; i < mostViewedEchantillons.length - 2; i++){%>
					<div class="post recent">
                        <a href="/echantillons-gratuits/<%- mostViewedEchantillons[i].urlClean + "/" +mostViewedEchantillons[i]._id %>">
                            <img src="<%= mostViewedEchantillons[i].urlImage %>" class="img-circle" />
                        </a>
                        <div class="date">
                            <%= mostViewedEchantillons[i].insertedOn.toLocaleDateString() %>
                        </div>
                        <a href="/echantillons-gratuits/<%- mostViewedEchantillons[i].urlClean + "/" +mostViewedEchantillons[i]._id %>" class="title">
                            <%= mostViewedEchantillons[i].title %>
                        </a>
                    </div>
					<%}%>
                </div>
                <div class="col-sm-4 testimonials">
                    <h3 class="footer_header">
                        Ce qu'ils disent de nous
                    </h3>
                    <div class="wrapper">
                        <div class="quote">
                            <span>"</span>
                            Gratisss est un site genial ou l'on peut trouver pleins d'echantillons de grandes marques. J'aime beaucoup le faite que l'on puisse dire ce que l'on pense des echantillons recu en commentaire =D
                            <span></span>
                        </div>
                        <div class="author">
                            <img src="/img/user-display.png" />
                            <div class="name">Alexandra Galvan</div>
                            <div class="info">
                                Paris
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 contact">
                    <h3 class="footer_header">
                        Contact
                    </h3>
                    <form action="#" method="post">
                        <input type="text" placeholder="Votre nom" />
                        <input type="text" placeholder="Votre email" />
                        <textarea rows="3" placeholder="Message"></textarea>
                        <input type="submit" value="Envoyer" />
                    </form>
                </div>
            </div>
            <div class="row credits">
                <div class="col-md-12">
                    <div class="row social">
                        <div class="col-md-12">
                            <a href="https://www.facebook.com/GratisssWebSite" class="facebook">
                                <span class="socialicons ico1"></span>
                                <span class="socialicons_h ico1h"></span>
                            </a>
                            <a href="#" class="twitter">
                                <span class="socialicons ico2"></span>
                                <span class="socialicons_h ico2h"></span>
                            </a>
                            <a href="#" class="gplus">
                                <span class="socialicons ico3"></span>
                                <span class="socialicons_h ico3h"></span>
                            </a>
                        </div>
                    </div>
                    <div class="row copyright">
                        <div class="col-md-12">
                            © 2015 Gratisss. All rights reserved. 
                        </div>
                    </div>
                </div>            
            </div>
        </div>
    </footer>
    <!-- Scripts -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/theme.js"></script>
	<script src="/js/myJavascript.js"></script>
    <script type="text/javascript" src="/js/index-slider.js"></script>	
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-63877323-1', 'auto');
		ga('send', 'pageview');

	</script>
