<!DOCTYPE html>
<html>
<head>
<% include header %>
<title>Gratisss.fr - Echantillon selectionne par notre equipe</title>

<meta name="description" content="Gratisss.fr - Tous les jours de nouveaux echantillons-gratuits, des bons plans et des codes de reduction.">

</head>
<body class="pull_top">
    
<% include navBar %>

    <div class="container">
		<div class="section_header">
            <h3>Echantillon du jour selectionne par notre equipe</h3>
        </div>  
		<div class="row">
			<div class="col-sm-5">
				<div class="feature">
                    <div class="img">
                        <img src="<%= echantillonSelected.urlImage %>" alt="<%= echantillonSelected.title %>" width="300px" height="300px">
                    </div>
				</div>
			</div>
			<div class="col-sm-7">
				<h4><%- echantillonSelected.title %></h4>
				<p><%- echantillonSelected.description %></p>
				<a href="<%- echantillonSelected.url %>" class="btn btn-primary">Je le veux !</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<img src="img/fleche1.png" />
			</div>
			<div class="col-sm-8">
				<div class="fb-comments" data-href="http://www.gratisss.fr/echantillons-gratuits/<%- echantillonSelected.urlClean + "/" + echantillonSelected.id %>" data-numposts="2" data-colorscheme="light"></div>		
			</div>
		</div>

	</div>

	<% include footer %>
	
</body>
</html>